@import '/src/styles/common.scss';

.stateNouveau {
    background-color: $stateNouveau;
    font-family: courier;
    border-radius: 5px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.stateEnCours {
    background-color: $stateEnCours;
    font-family: courier;
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.stateFini {
    background-color: $stateFini;
    font-family: courier;
    border-radius: 5px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

table {
    width: 100%;
}

td, th {
    width: 25%;
}