<div fxLayout="row" fxLayoutAlign="space-evenly center" class="cards">

  <mat-card class="example-card" [@simpleFadeAnimation]="'in'">
    <mat-card-header>
      <div mat-card-avatar class="listou-logo"></div>
      <mat-card-title>Listou</mat-card-title>
      <mat-card-subtitle>Application web</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ listouImage }}" alt="Listou Application">
    <mat-card-content>
      <p class="description">
        Listou est une application web permettant aux utilisateurs de créer des évènements, y ajouter des participants et
        ensuite de gérer la liste d'achat à prévoir pour l'évènement. Chacun peut signaler aux autres ce qu'il compte acheter
        et dans quelles proportions, le prix que cela a coûté, etc. N'hésitez plus, inscrivez-vous sur Niceru pour en profiter !
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex></div>
      <button mat-button (click)= "go('listou')">En savoir plus</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" [@simpleFadeAnimation]="'in'">
    <mat-card-header>
      <div mat-card-avatar class="manga-logo"></div>
      <mat-card-title>Manga Update</mat-card-title>
      <mat-card-subtitle>Application web</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ mangaUpdateImage }}" alt="Manga web app">
    <mat-card-content>
      <p class="description">
        Manga Update est une application web permettant aux utilisateurs de créer une liste de mangas suivis, ajouter des urls de
        lecture en ligne, mettre à jour l'avancement du manga et d'être prévenu lorsque un manga sort un scan sur l'url renseigné.
        N'hésitez plus, inscrivez-vous sur Niceru pour en profiter ! (In progress)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex></div>
      <button mat-button (click)= "go('home')">En savoir plus</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" [@simpleFadeAnimation]="'in'">
    <mat-card-header>
      <div mat-card-avatar class="akwakonjou-logo"></div>
      <mat-card-title>AkwaKonJou</mat-card-title>
      <mat-card-subtitle>Application web</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ akwaKonJouImage }}" alt="AkwaKonJou Application">
    <mat-card-content>
      <p class="description">
        AkwaKonJou est une application web permettant aux utilisateurs de créer une session de jeu et d'y ajouter d'autres utilisateurs.
        Une fois que tout les utilisateurs connectés ont renseigné leur(s) bibliothèque(s) de jeux (Steam, Epic, ...) AkwaKonJou affiche
        la liste des jeux en commun avec tout les participants, ou à défaut les jeux ayant le plus de joueurs. On peut alors les trier
        selon des filtres de genre, mode de jeu etc. (In progress)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex></div>
      <button mat-button>En savoir plus</button>
    </mat-card-actions>
  </mat-card>


















</div>





