.container {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch start;
  align-items: center;
  max-width: 100%;
  padding-top: 100px;

  img.niceru-logo {
    width: 700px;
    margin: 0;
  }

  .panel-button {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    gap: 16px;
  }
}

::ng-deep button.mat-raised-button.mat-primary {
  background-color: purple !important;
}
