// Colors ========================

$button-color: #DFF4FF;
$background-color: #27282E;
$toolbar-color: #161618;
$font-color: #e8e5e0;
$card-color: #161618;
$link-hover-color: #706F6E;

// State :
$stateNouveau: #5E8F32;
$stateEnCours: #5fc0e3;
$stateFini: #8a949c;
