$main-palette: (
  '50': 'fbfeff',
  '100': 'f5fcff',
  '200': 'effaff',
  '300': 'e9f7ff',
  '400': 'e4f6ff',
  '500': 'dff4ff',
  '600': 'dbf3ff',
  '700': 'd7f1ff',
  '800': 'd2efff',
  '900': 'caecff',
  'A100': 'ffffff',
  'A200': 'ffffff',
  'A400': 'ffffff',
  'A700': 'ffffff',
  contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$secondary-palette: (
  '50': 'fcfcfc',
  '100': 'f7f7f7',
  '200': 'f1f1f1',
  '300': 'ebebeb',
  '400': 'e7e7e7',
  '500': 'e3e3e3',
  '600': 'e0e0e0',
  '700': 'dcdcdc',
  '800': 'd8d8d8',
  '900': 'd0d0d0',
  'A100': 'ffffff',
  'A200': 'ffffff',
  'A400': 'ffffff',
  'A700': 'ffffff',
  contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);