<div fxLayout="row" fxLayoutAlign="center center" [@simpleFadeAnimation]="'in'">
    <mat-card fxFlex="40" fxFlexOffset="30" fxLayout="column" fxLayoutAlign="space-evenly stretch" class="card">
      <mat-card-header fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Partagez vos suggestions</mat-card-title>
        <p>Vous pouvez partager vos suggestions concernant les applications web, le site en lui-même, comme vous voulez !
            Remplissez juste le formulaire ci-dessous :
        </p>
      </mat-card-header>
      <mat-card-content fxFlex>
        <form *ngIf="suggestionFormGroup" fxLayout="column" fxLayoutAlign="space-around stretch" [formGroup]="suggestionFormGroup" novalidate>
            <mat-form-field appearance="outline">
                <mat-label>Sujet</mat-label>
                <mat-select formControlName="suggestionSubject">
                    <mat-option *ngFor="let subject of suggestionSubjects" [value]="subject.value">
                    {{ subject.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxLayout="column" fxLayoutAlign="stretch stretch">
                <mat-label>Laissez un commentaire ( {{ suggestionFormGroup.controls['comment'].value.length }} / 1000 )</mat-label>
                <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="7"
                    formControlName="comment"
                    matInput placeholder="Expliquez la suggestion...">
                </textarea>
                <mat-error *ngIf="suggestionFormGroup.controls['comment'].hasError('maxLength')"></mat-error>
            </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div fxFlex></div>
        <button mat-raised-button class="button" (click)="onSubmit()">Envoyer</button>
      </mat-card-actions>
    </mat-card>
  </div>
