<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="'over'">
    <mat-list>
      <!-- TODO : to component -->
      <div mat-subheader class="black">Applications</div>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <a
          mat-line
          class="link-drawer"
          (click)="drawer.toggle(); go('create-event')"
          >Evenements</a
        >
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <a mat-line class="link-drawer" (click)="drawer.toggle(); go('home')"
          >Application 2</a
        >
        <div mat-line>(in progress)</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <a mat-line class="link-drawer" (click)="drawer.toggle(); go('home')"
          >Application 3</a
        >
        <div mat-line>(in progress)</div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>Services</div>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <a
          mat-line
          class="link-drawer"
          (click)="drawer.toggle(); go('suggestions')"
          >Suggestions</a
        >
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <a
          mat-line
          class="link-drawer"
          (click)="drawer.toggle(); go('bug-report')"
          >Bug report</a
        >
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <a mat-line class="link-drawer" (click)="drawer.toggle(); go('contact')"
          >Contact</a
        >
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div id="app" class="app" fxLayout="column" fxFill>
      <mat-toolbar class="toolbar">
        <button
          *ngIf="isLoggedIn"
          mat-icon-button
          class="icon"
          (click)="drawer.toggle()"
        >
          <svg-icon
            class="iconNavBar"
            src="{{ menuIconUrl }}"
            aria-hidden="false"
          ></svg-icon>
        </button>
        <!-- <button mat-icon-button class="icon" routerLink="home">
          <svg-icon
            class="iconNavBar"
            src="{{ homeIconUrl }}"
            aria-hidden="false"
          ></svg-icon>
        </button> -->
        <img
          mat-card-image
          src="{{ niceruImage }}"
          alt="Ouaisouaisouais Application"
          class="niceru-logo"
          routerLink="home"
          style="cursor: pointer"
        />

        <a *ngIf="showAdminBoard" routerLink="admin" class="link"
          >Admin Board</a
        >
        <a *ngIf="showModeratorBoard" routerLink="mod" class="link"
          >Moderator Board</a
        >
        <a *ngIf="isLoggedIn" routerLink="board-user" class="link"
          >Board membre</a
        >

        <span class="spacer"></span>

        <a *ngIf="!isLoggedIn" routerLink="register" class="link">S'inscrire</a>
        <a *ngIf="!isLoggedIn" routerLink="login" class="link">Connexion</a>
        <a *ngIf="isLoggedIn" class="link link-icon" routerLink="profile">
          <svg-icon
            class="iconNavBar"
            src="{{ accountIconUrl }}"
            aria-hidden="false"
          ></svg-icon>
          {{ usertoken.username }}
        </a>
        <a *ngIf="isLoggedIn" (click)="logout()" class="link">Déconnexion</a>
      </mat-toolbar>

      <div class="container mat-body">
        <router-outlet></router-outlet>
      </div>
      <footer></footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<!-- ngxTippy [tippyProps]="getToolTipOptions()"

  public getToolTipOptions(template: string) {
    return {
      placement: 'left',
      allowHTML: true,
      content: this.replaceCopyReference(template)
    };
  } -->
