<div id="app">
  <mat-toolbar class="toolbar">
    <button mat-icon-button class="icon" routerLink="home">
      <mat-icon svgIcon="white-home" aria-hidden="false"></mat-icon>
    </button>
    <a *ngIf="showAdminBoard" routerLink="admin" class="link">Admin Board</a>
    <a *ngIf="showModeratorBoard" routerLink="mod" class="link">Moderator Board</a>
    <a *ngIf="isLoggedIn" routerLink="user" class="link">User</a>

    <span class="spacer"></span>

    <a *ngIf="!isLoggedIn" routerLink="register" class="link">S'inscrire</a>
    <a *ngIf="!isLoggedIn" routerLink="login" class="link">Connexion</a>
    <button *ngIf="isLoggedIn" mat-icon-button class="icon" routerLink="profile">
      <mat-icon svgIcon="account" aria-hidden="false"></mat-icon>
    </button>
    <a *ngIf="isLoggedIn" (click)="logout()" class="link">Déconnexion</a>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  </div>

<!-- ngxTippy [tippyProps]="getToolTipOptions()"

  public getToolTipOptions(template: string) {
    return {
      placement: 'left',
      allowHTML: true,
      content: this.replaceCopyReference(template)
    };
  } -->
