@import '/src/styles/common.scss';

.spacer {
    flex: 1 1 auto;
  }

  .toolbar {
    background-color: $toolbar-color;
    color: white;
    height: 70px;
  }

.home-link {
  cursor:"pointer";
  text-decoration: none;
  transition: 1s;
  font-size: 20px;
  color: #e8e5e0;
}

.link {
  cursor:"pointer";
  text-decoration: none;
  transition: 1s;
  margin-left: 20px;
  margin-right: 20px;
  color: #e8e5e0;
  font-size: 17px;
}

.link:hover, .link:active, .home-link:hover, .home-link:active {
  color: #706F6E;
}

.icon {
  background-color: black;
}