<div class="footer">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="icon" (click)="go('appstore')">
            <svg-icon src="{{ appleIconUrl }}" aria-hidden="false"></svg-icon>
        </button>
        <button mat-icon-button class="icon" (click)="go('facebook')">
            <svg-icon src="{{ facebookIconUrl }}" aria-hidden="false"></svg-icon>
        </button>
        <button mat-icon-button class="icon" (click)="go('youtube')">
            <svg-icon src="{{ youtubeIconUrl }}" aria-hidden="false"></svg-icon>
        </button>
        <button mat-icon-button class="icon" (click)="go('twitter')">
            <svg-icon src="{{ twitterIconUrl }}" aria-hidden="false"></svg-icon>
        </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="copyrights">
        © 2020 Copyright: Arnaud G.
    </div>
</div>
