<div class="footer">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button class="icon" (click)="go('appstore')">
            <mat-icon svgIcon="appstore" aria-hidden="false"></mat-icon>
        </button>
        <button mat-icon-button class="icon" (click)="go('facebook')">
            <mat-icon svgIcon="facebook" aria-hidden="false"></mat-icon>
        </button>
        <button mat-icon-button class="icon" (click)="go('youtube')">
            <mat-icon svgIcon="youtube" aria-hidden="false"></mat-icon>
        </button>
        <button mat-icon-button class="icon" (click)="go('twitter')">
            <mat-icon svgIcon="twitter" aria-hidden="false"></mat-icon>
        </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="copyrights">
        © 2020 Copyright: Arnaud G.
    </div>
</div>
