<div fxLayout="row" fxLayoutAlign="center center" [@simpleFadeAnimation]="'in'">
  <mat-card
    *ngIf="aucunEvent"
    fxFlex="40"
    fxFlexOffset="30"
    fxLayout="column"
    fxLayoutAlign="space-evenly stretch"
    class="card"
  >
    <mat-card-header
      fxFlex="20"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-card-title>Créez un évènement !</mat-card-title>
    </mat-card-header>
    <mat-card-content fxFlex>
      <p>
        Vous n'avez pas encore créé d'évènement ? Pas de problèmes, vous pouvez
        commencer en cliquant sur le bouton ci-dessous :
      </p>
      <p style="color: red">En construction ...</p>
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex></div>
      <button
        mat-raised-button
        class="button"
        (click)="openDialogCreateEvent()"
      >
        Créer un évènement
      </button>
      <div fxFlex></div>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card
  *ngIf="!aucunEvent && !showDetailsEvenement"
  class="mega-card"
  [@fadeInOnEnter]
  [@fadeOutOnLeave]
>
  <mat-toolbar class="toolbar-events">
    <span>Événements</span>
    <span class="spacer"></span>
    <button
      mat-button
      class="button"
      (click)="openDialogCreateEvent()"
      fxHide.lt-md
    >
      <span>Créer un évènement</span>
    </button>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        [fxFlex]="100 / gridColumns + '%'"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let event of events; let index = index"
      >
        <mat-card class="mat-elevation-z4" [@simpleFadeAnimation]="'in'">
          <mat-card-header>
            <mat-card-title>{{ event.title }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/images/image-event.jpg" />
          <mat-card-content>
            <p class="description">
              {{ event.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <div fxFlex></div>
            <button mat-button (click)="showDetailsEvent(index)">Voir</button>
            <button mat-button>Partager</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>

<mat-card
  *ngIf="!aucunEvent && showDetailsEvenement"
  class="mega-card"
  [@fadeInOnEnter]
  [@fadeOutOnLeave]
>
  <event-details
    [event]="eventToDisplay"
    (showDetailsEvenement)="showDetailsEvenement = $event"
  ></event-details>
</mat-card>
