<div fxLayout="row" fxLayoutAlign="center center" [@simpleFadeAnimation]="'in'">
    <mat-card *ngIf="aucunEvent" fxFlex="40" fxFlexOffset="30" fxLayout="column" fxLayoutAlign="space-evenly stretch" class="card">
      <mat-card-header fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Créez un évènement !</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex>
        <p>Vous n'avez pas encore créé d'évènement ? Pas de problèmes, vous pouvez commencer en cliquant sur le bouton ci-dessous :
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div fxFlex></div>
        <button mat-raised-button class="button" (click)="openDialogCreateEvent()">Créer un évènement</button>
        <div fxFlex></div>
      </mat-card-actions>
    </mat-card>
  </div>
