@import '~@angular/material/theming';
@import '/src/app/shared/material/palettes.scss';
@import '~ngx-toastr/toastr';
@import '/src/styles/common.scss';

@include mat-core();

html, body {
  height: 100%;
  background-color: $background-color;
  color: $font-color;
  margin: inherit;
}

.mat-body {
  margin: 0;
  // font-family: Proxima Nova;
  font-size: 14px;
  font-weight: 500;
  color: $font-color;
  overflow: scroll;
  overflow-y: auto;
}

// Theme =======================================
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  )
));

@include angular-material-theme($candy-app-theme);

// ScrollBar ================
/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}