<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="40" fxFlexOffset="30" fxLayout="column" fxLayoutAlign="space-evenly stretch" class="card">
    <mat-card-header fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>Inscription</mat-card-title>
    </mat-card-header>
    <img fxFlex="20" id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
    <mat-card-header fxFlex="20" fxLayout="column" fxLayoutAlign="center start">
      <mat-card-subtitle class="label">Veuillez remplir les champs ci-dessous :</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxFlex>

      <form fxLayout="column" fxLayoutAlign="space-around stretch" name="form" novalidate>
          <label class="label">Nom d'utilisateur</label>
          <input class="input" type="text" name="username" [(ngModel)]="username"/>

          <label class="label">Email</label>
          <input class="input" type="email" name="email" [(ngModel)]="email"/>

          <label class="label">Mot de passe</label>
          <input class="input" [type]="show ? 'text' : 'password'" name="password" [(ngModel)]="password"/>
          <button mat-icon-button class="icon" (click)="togglePassword()">
            <mat-icon svgIcon="eye" aria-hidden="false"></mat-icon>
          </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex></div>
      <button mat-raised-button class="button" (click)="onSubmit()">S'inscrire</button>
    </mat-card-actions>
  </mat-card>
</div>
